.container {
  height: 100vh;
  background: url(../assets/forest.jpg) no-repeat center center fixed;
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  font-family: Poppins, sans-serif;

  @media screen and (max-width: 768px) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
    
  
}
